@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;           
}




:root {
  /* For Dark Site */
  --bg-dark: #23242a;
  --bg-light-gray: #1c1c1c;
  --bg-gray: #28292d;
  --bg-aqua: #45f3ff;
  --text-white: #fff;
  --text-black: #000;
  --text-light-gray: #1c1c1c;
  --text-gray: #8f8f8f;
  --text-gray2:#999;
  --text-aqua: #45f3ff;
  --gr-bg-0d: linear-gradient(0deg, transparent, #45f3ff);
  --gr-bg-90d: linear-gradient(90deg, transparent, #45f3ff);
  /* for light Site */
  --bgl:#FFF8F3;
  --bgl-green:#A3E4DB;
  --bgl-blue:#1C6DD0;
/*  */
  --clr-1: #45f3ff;
  --clr-2:#1C6DD0;

}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
@media only screen and (min-width: 768px) {
  /* Larg Screen Structur */
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333% !important;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667% !important;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50% !important;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333% !important;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667% !important;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75% !important;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333% !important;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667% !important;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

/* Tab Screen Structur */
@media only screen and (min-width: 576px) {
  .col-tab-1 {
    flex: 0 0 auto;
    width: 8.33333333% !important;
  }
  .col-tab-2 {
    flex: 0 0 auto;
    width: 16.66666667% !important;
  }
  .col-tab-3 {
    flex: 0 0 auto;
    width: 25% !important;
  }
  .col-tab-4 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
  }
  .col-tab-5 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
  }
  .col-tab-6 {
    flex: 0 0 auto;
    width: 50% !important;
  }
  .col-tab-7 {
    flex: 0 0 auto;
    width: 58.33333333% !important;
  }
  .col-tab-8 {
    flex: 0 0 auto;
    width: 66.66666667% !important;
  }
  .col-tab-9 {
    flex: 0 0 auto;
    width: 75% !important;
  }
  .col-tab-10 {
    flex: 0 0 auto;
    width: 83.33333333% !important;
  }
  .col-tab-11 {
    flex: 0 0 auto;
    width: 91.66666667% !important;
  }
  .col-tab-12 {
    flex: 0 0 auto;
    width: 100% !important;
  }
}

/* Tab Mobile Structur */
@media only screen and (min-width: 480px) {
  .col-mob-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-mob-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-mob-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-mob-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-mob-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-mob-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-mob-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-mob-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-mob-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-mob-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-mob-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-mob-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/* Tab Mobile Structur */
@media only screen and (min-width: 300px) {
  .col-smob-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-smob-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-smob-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-smob-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-smob-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-smob-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-smob-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-smob-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-smob-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-smob-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-smob-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-smob-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}


